*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  margin:0;
  background-color: white;
}

.wrapper{
  margin:auto;
  width: 95%;
}

.header img{
  width: 10%;
  height: 10%;
  float: left;
  display: flex;
}

.navbar{
  text-align: center;
  justify-content: space-evenly;
  overflow: hidden;
  display: flex;
}

.navbar a {
  margin: 40px;
  color:#008B8B;
  font-size: 25px;
  text-decoration: none;
}

.navbar a:hover{
  color:black;
}

.active {
  color:chocolate;
}

.navbar .menuicon {
  display: none;
}

.submenu {
  float: left;
  overflow: hidden;
  margin: 40px;
}

.submenu .submenubtn {
  cursor: pointer;
  font-size: 25px;
  color: #008B8B;
  margin: 0; 
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}

.submenu:hover .submenubtn{
  color: black;
}

.submenubtn:focus{
  color: black;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color:beige;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 50px;
}

.submenu-content a {
  float: none;
  color:darkblue;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu-content a:hover {
  background-color:transparent;
} 

.arrowdown{
  width: 15px;
  height: 15px;
}

.show{
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .submenu .submenubtn {
    display: none;
  }

  .navbar a.menuicon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .menuicon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .submenu {float: none;}
  .navbar.responsive .submenu-content {position: relative;}
  .navbar.responsive .submenu .submenubtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.topContainer{
  background-color: crimson;
  width: 100;
  border-radius: none;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 30px;
  color: yellow;
  width: 95%;
  text-align: center;
  margin: 20px;
  justify-content: center;
}

.midContainer{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
gap: 20px;
}

.midContainer .productImage{
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.2);
background: azure;
padding: 30px 10px;
text-align: center;
font-size: 25px;
color: black;
text-decoration: dashed;
}

.midContainer .productImage img{
width: 250px;
height: 170px;
object-fit: fill;
}

.midContainer .productImage .price{
background:yellow;
font-size: 20px;
color:black;
padding: 5px;
align-content:center;
margin:0 auto;
width: 120px;
border-radius: 10px;
}

.midContainer .productImage:hover{
box-shadow: 0 10px 15px rgba(65, 65, 65, 0.2);
transform: scale(1.05);
}





