body{
  background-color: white;
  text-align: center;
  position: center;
  margin:auto;
  font-family: 'Poppins';
  font-size: 15px;
}

.midContainer{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-indent: 30px;
}

.bottomContainer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottomContainer a{
  text-decoration: none;
  border-radius: 20px;
  border-style: groove;
  border-color: black;
  padding: 1rem;
  background-color: #FABA26;
  color: black;
}